{% extends 'base.html' %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}
<div class="container">
    <h1>Django Ajax CRUD Employees</h1>
    <h2>TEST MY FIRST PULL REQUEST </h2>
    <h3>Second COMMIT and MERGE COMMIT FOR GIT SQUASH</h3>
    <h4>third commit for test</h4>
    <h5>fourth commit for test</h5>
    <h6>final commit 5th..</h6>

    <div class="row">
      <div class="col-md-12 ">
            {% include 'includes/employee_data_form.html' %}
      </div>
      <div class="col-md-12">
        <h3>RECORDS</h3>
        <table id="employeeTable" class="table table-striped">
            {% include 'includes/employee_records_table.html' %}
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include 'includes/employee_modal_form.html' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock javascript %}
